# Media files
private/media/*
!private/media/.gitkeep
public/media/*
!public/media/.gitkeep
public/static/*
!public/static/.gitkeep

# Environment files
.env

# Node modules
node_modules/

# Python
__pycache__/
*.pyc

# Docker
docker-compose.yml

# VSCode
.vscode/
